annotated-types==0.7.0
anyio==4.8.0
APScheduler==3.11.0
backtrader==1.9.78.123
beautifulsoup4==4.13.3
bs4==0.0.2
certifi==2025.1.31
charset-normalizer==3.4.1
click==8.1.8
contourpy==1.3.1
cssselect==1.2.0
cycler==0.12.1
decorator==5.2.0
dotenv==0.9.9
easyquotation==0.7.5
easyutils==0.1.7
efinance==0.5.3
fake-useragent==1.5.1
fastapi==0.115.8
fonttools==4.56.0
frozendict==2.4.6
greenlet==3.1.1
h11==0.14.0
idna==3.10
jsonpath==0.82.2
kiwisolver==1.4.8
lxml==5.3.1
markdown-it-py==3.0.0
matplotlib==3.10.0
mdurl==0.1.2
multitasking==0.0.11
nest-asyncio==1.6.0
numpy==2.2.3
packaging==24.2
pandas==2.2.3
pandas-datareader==0.10.0
peewee==3.17.9
pillow==11.1.0
platformdirs==4.3.6
psycopg2==2.9.10
psycopg2-binary==2.9.10
py==1.11.0
pydantic==2.10.6
pydantic_core==2.27.2
pydash==7.0.7
PyExecJS==1.5.1
Pygments==2.19.1
pyparsing==3.2.1
pyquery==2.0.1
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
pytz==2025.1
pywencai==0.12.3
requests==2.32.3
retry==0.9.2
rich==13.9.4
setuptools==75.8.0
simplejson==3.20.1
six==1.17.0
sniffio==1.3.1
soupsieve==2.6
SQLAlchemy==2.0.38
starlette==0.45.3
tqdm==4.67.1
tushare==1.4.19
typing_extensions==4.12.2
tzdata==2025.1
tzlocal==5.3
urllib3==2.3.0
uvicorn==0.34.0
websocket-client==1.8.0
wheel==0.45.1
yfinance==0.2.54
