annotated-types==0.6.0
anyio==4.3.0
beautifulsoup4==4.12.3
certifi==2024.2.2
charset-normalizer==3.3.2
click==8.1.7
colorama==0.4.6
contourpy==1.2.0
cycler==0.12.1
fake-useragent==1.5.1
fastapi==0.110.0
fonttools==4.50.0
func-timeout==4.3.5
h11==0.14.0
idna==3.6
jieba==0.42.1
Jinja2==3.1.3
jsonpath==0.82.2
kiwisolver==1.4.5
MarkupSafe==2.1.5
matplotlib==3.8.3
multitasking==0.0.11
numpy==1.26.4
packaging==24.0
pandas==2.2.1
patsy==0.5.6
pillow==10.2.0
plotly==5.20.0
plotly-express==0.4.1
prettytable==3.10.0
py-mini-racer==0.6.0
pydantic==2.6.4
pydantic_core==2.16.3
pydash==7.0.7
pyecharts==2.0.5
PyExecJS==1.5.1
pyparsing==3.1.2
python-dateutil==2.9.0.post0
pytz==2024.1
pywencai==0.12.2
qstock==1.3.6
redis==5.0.3
requests==2.31.0
scipy==1.12.0
seaborn==0.13.2
simplejson==3.19.2
six==1.16.0
sniffio==1.3.1
soupsieve==2.5
starlette==0.36.3
statsmodels==0.14.1
selenium==4.12.0
tenacity==8.2.3
tqdm==4.66.2
typing_extensions==4.10.0
tzdata==2024.1
urllib3==2.2.1
uvicorn==0.29.0
wcwidth==0.2.13
efinance==0.5.2
python-dotenv==1.0.1
easyquotation==0.7.5
SQLAlchemy==2.0.20
psycopg2-binary==2.9.9
DrissionPage